.MuiAccordionSummary-root {
  min-height: 1.2em !important;
}

.MuiIconButton-root {
  /* width: 1.2em !important;
    height: 1.2em !important; */
}

.MuiAccordion-root{
    background-image: linear-gradient(135deg,var(--paper-bg),var(--paper-bg-end)) !important;
}
.MuiAccordion-root .MuiAccordionSummary-content{
    color:var(--paper-text) !important;
}
.MuiAccordion-root,
.MuiAccordion-root.default {
    --paper-bg:var(--content-bg);
    --paper-bg-end:var(--content-bg-end);
    --paper-text:var(--content-text);
}
.MuiAccordion-root.error {
    --paper-bg:var(--error-bg);
    --paper-bg-end:var(--error-bg-end);
    --paper-text:var(--error-text);
}
.MuiAccordion-root.success {
    --paper-bg:var(--success-bg);
    --paper-bg-end:var(--success-bg-end);
    --paper-text:var(--success-text);
}
.MuiAccordion-root.warning {
    --paper-bg:var(--warning-bg);
    --paper-bg-end:var(--warning-bg-end);
    --paper-text:var(--warning-text);
}
.MuiAccordion-root.info {
    --paper-bg:var(--info-bg);
    --paper-bg-end:var(--info-bg-end);
    --paper-text:var(--info-text);
}
